:root {
    --background: #004e66;
    --text-light: #e4edf1;
    --bold-text: #fdfcfb;
}
header {
    /* background-color: var(--background); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.title img {
    width: 30vw;;
}
#quiz-container {
    margin: 10vw;
    display: block;
    flex-direction: column;
    justify-content: center; 
    border-radius: 30px;
}
.start-btn {
    display:table;
    position:relative;
    font-style:normal; 
    font-weight:normal; 
    font-family:"Open Sans"; 
    font-size:14px;
    margin:0 auto;
    outline: 1px;;
    background-color: #19404d;
    color:rgb(245, 239, 239);
    border:none;
    text-align:center;
    cursor:pointer;
    border-radius:30px;
    width: 150px;
    }
button-style {
    display: flex;
    align-items: center;
    text-align:center
}
#display-box-a {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100px;
    background-color: #19404d;
    border-radius:20px;
}
#display-box-b {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 250px;
    background-color: #ffffff;
    border-radius:20px;
    border: 3px dotted black;
}


#display-box-a {
    font-weight: 700;
    color: var(--bold-text);
}

#question-container button {
    background-color: #bdf77b;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin:5px;
    color: #032631;
}

#scorelist-titles {
    background-color: #032631;
    display: flex;
    justify-content: space-evenly;
    color:#e4edf1
}

#score-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(11, 23, 24);
}

#user-list, #score-list {
    padding: 10px;
}

#user-list{
    display: flex;
    justify-content: space-evenly;
}

.user {
    display: flex;
    align-items: center;
}
#next {
    display: flex;
    justify-content: center;
    padding:  10px;
    background-color: blueviolet;
    border-radius: 20px;
    color: white;
}
#next:hover {
    background-color: purple;
}

#resultDisplay, h2 {
    display: flex;
    justify-content: center;
}